@import '../../styles/main';

.resourceSearch {
  @include flex-around-center;
  fieldset {
    width: 40%;
    max-width: 350px;
    select {
      background-color: $color_white;
      width: 100%;
    }
  }
}
