@import '../../styles/main';

.transactionForm {
  h4 {
    @include flex-center-center;
    height: 30px;

    img {
      margin-right: 20px;
      height: 30px;
      width: auto;
    }
  }

  form {
    @include flex-center-center-column;

    .formContent {
      @include flex-center-center;
      width: 100%;

      > div {
        flex-grow: 1;
        @include flex-center-center-column;

        fieldset {
          width: 80%;
          justify-content: space-around;

          input {
            width: 100px;
          }
        }
      }
    }

    .calcuatedTT,
    .buyValue {
      width: 150px;
    }

    .calculatedValues {
      p {
        width: 100%;
        display: flex;
        padding: 10px 0;
        span {
          width: 30%;
          margin: 0 10px;
        }
      }
    }

    button {
      width: 40%;
    }
  }
}
