@import '../../../styles/main';

.buy {
  h4 {
    margin: 10px 0;
  }
  .content {
    section {
      flex-grow: 1;
    }
  }

  .buyResourceTableContainer {
    table {
      th,
      td {
        &:nth-child(1) {
          width: 10%;
        }
        &:nth-child(2) {
          width: 30%;
        }
      }
    }
  }
}
