@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}
@mixin flex-center-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin base-form-field {
  padding: 10px 5px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid $input_border_color;
  color: $input_font_color;
  width: 100%;
  &:focus {
    outline-color: $input_border_color_focus;
    background-color: $input_background_color_focus;
    color: $color_black;
  }
}
