@mixin flex-start-center {
  display: flex;
  justify-content: start;
  align-items: center;
}

@mixin flex-center-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-end {
  display: flex;
  justify-content: flex-end;
}
@mixin flex-center-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@mixin flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-around-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
