$color_black: #000;
$color_grey_14: #111;
$color_grey_13: #222;
$color_grey_12: #333;
$color_grey_11: #444;
$color_grey_10: #555;
$color_grey_09: #666;
$color_grey_08: #777;
$color_grey_07: #888;
$color_grey_06: #999;
$color_grey_05: #aaa;
$color_grey_04: #bbb;
$color_grey_03: #ccc;
$color_grey_02: #ddd;
$color_grey_01: #eee;
$color_white: #fff;

$color_error: #f00;
$color_warning: #fa0;
$color_success: #0f0;
$color_info: rgb(58, 58, 243);

$input_font_color: $color_grey_10;
$input_border_color: $color_grey_04;
$input_border_color_focus: $color_grey_06;
$input_background_color_focus: rgb(219, 247, 247);
$input_bg_color_error: rgb(252, 216, 216);
$nav_active: $color_grey_10;
$button_primary: $color_info;

$color_primary: $color_info;
