@import './main';

body {
  width: 1080px;
  margin: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

section {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  background-color: $color_grey_01;
  box-shadow: 0 0 10px $color_grey_05;
}

table {
  // border-collapse: collapse;
  // border: solid 1px black;
  width: 100%;
  th,
  td {
    text-align: center;
    padding: 5px;
  }

  thead,
  tfoot {
    tr {
      font-weight: 700;
    }
  }

  tbody {
    tr {
      &:nth-child(odd) {
        background-color: $color_white;
      }
      &:nth-child(even) {
        background-color: $color_grey_01;
      }
    }

    td {
      border: 1px solid $color_grey_04;
    }
  }
}
button {
  cursor: pointer;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 200px;
  font-size: 1em;

  &.info {
    background-color: $button_primary;
    color: $color_white;
  }

  &.error {
    background-color: $color_error;
  }

  &.warning {
    background-color: $color_warning;
    color: $color_black;
  }

  &.success {
    background-color: $color_success;
  }

  &:hover {
    font-weight: 700;
  }

  &:active {
    box-shadow: 0 0 5px $color_grey_10;
  }
}
