@import '../../../styles/main';

.homeStockList {
  table {
    tbody {
      tr {
        td {
          width: 25%;

          &:nth-child(1) {
            text-align: left;
            width: 50%;
          }
        }
      }
    }
  }
}
