@import '../../../../styles/main';

.buyForm {
  @include flex-center-center-column;

  .formContent {
    @include flex-center-center;
    width: 100%;

    > div {
      flex-grow: 1;
      @include flex-center-center-column;

      fieldset {
        width: 80%;
        justify-content: space-around;

        input {
          width: 100px;
        }
      }
    }
  }

  .calcuatedTT,
  .buyValue {
    width: 150px;
  }
}
