@import '../../../styles/main';

.navElement {
  ul {
    @include flex-end;
    margin: 0;
    list-style: none;

    a {
      text-decoration: none;
      color: inherit;

      li {
        width: 120px;
        text-align: center;
        cursor: pointer;
        line-height: 50px;
        border-bottom: 2px solid $color_grey_03;

        &.isActive {
          border-bottom: 2px solid $nav_active;
          font-weight: 700;
        }
        &:hover {
          border-bottom: 2px solid $color_primary;
          background-color: $color_grey_04;
          font-weight: 700;
        }
      }
    }
  }
}
