@import '../../styles/main';

.stockList {
  table {
    tbody {
      tr {
        td {
          width: 25%;
        }
        .nameCell {
          text-align: left;
          width: 50%;
        }
      }
    }
  }
}
