@import '../../../styles/_main';

.sellProgressList {
  p {
    margin-top: 20px;
    text-align: center;
  }

  table {
    width: auto;
    td,
    th {
      &:nth-child(1) {
        width: 15%;
      }
      &:nth-child(2) {
        width: 45%;
      }
      &:nth-child(3) {
        width: 15%;
      }
      &:nth-child(5) {
        width: 25%;
      }

      select {
        // height: 20px;
        padding-bottom: 2px;
      }
      p {
        margin: 0;
      }
    }

    .updateSelect {
      padding: 0;
      vertical-align: middle;
      padding: 3px 0 0 0;

      fieldset {
        // width: 100%;
        margin: 0;
        justify-content: center;

        div {
          width: 100%;
          select {
            height: 20px;
            margin: 0 0 3px 0;
            padding: 0;
            font-size: 0.8rem;
          }
        }
      }
      // fieldset,
    }
  }
}
