@import '../../styles/main';

.homeBenefitSection {
  p {
    @include flex-between-center;
    margin: 0 5px;
    span {
      width: 50%;

      &:nth-child(2) {
        text-align: center;
      }
    }

    &.total {
      .negative {
        color: $color_error;
      }

      margin-top: 20px;
      font-weight: 700;
    }
  }
}
