@import '../../styles/main';

.home {
  @include flex-between-center;
  padding: 10px 0;
  height: 100%;

  > div {
    width: 48%;
    height: 100%;
  }

  .stockList {
    table {
      tbody {
        tr {
          td {
            width: 25%;

            &:nth-child(1) {
              text-align: left;
              width: 50%;
            }
          }
        }
      }
    }
  }
}
