@import '../../styles/main';

.home {
  @include flex-around-center;
  padding: 10px 0;
  height: 100%;

  > div {
    width: 49%;
    height: 100%;
  }

  @media screen and (max-width: 800px) {
    flex-wrap: wrap;
    align-items: flex-start;
    height: auto;

    > div {
      width: 99%;

      section {
        margin-bottom: 0;
      }
    }

    .rightColumn {
      order: 1;
    }
    .leftColumn {
      order: 2;
    }
  }
}
